<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springboot.mapper.ScProductMapper">
    <resultMap id="baseResultMap" type="ScProduct">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="start_time"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="end_time"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="product_img" jdbcType="VARCHAR" property="product_img"/>
    </resultMap>

    <select id="selectAll" resultType="ScProduct">
        select * from sc_product;
    </select>

</mapper>