<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springboot.mapper.StudentCardMapper">
    <resultMap id="baseResultMap" type="StudentCard">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="studentId" jdbcType="INTEGER" property="studentId"/>
            <result column="startDate" jdbcType="DATE" property="startDate"/>
        <result column="endDate" jdbcType="DATE" property="endDate"/>
    </resultMap>

    <select id="selectStuCardById" resultType="StudentCard">
        select * from student_card WHERE id = #{id};
    </select>

</mapper>